@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 0.75rem;
    border-radius: 10px;
    width: 100px;
    border: 0;
}

.header {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 150px;
}

.header img {
    min-width: 10%;
    height: auto;
}

.title-container {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    padding: 50px 150px;
    gap: 16px;
    justify-content: center;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.description {
    font-size: 18px;
    color: #e5e7eb
}

.title-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title-image img {
    max-width: 400px;
    max-height: 300px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

.info-item {
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.info-item img {
    width: 150px;
    height: 150px;
}

.image-subtext {
    color: #1f2937;
}

.info-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-top: 32px;
}

