@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900;300&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 0.75rem;
    border-radius: 10px;
    width: 100px;
    border: 0;
}

@media (max-width: 700px) {
  .title-image {
    display: none;
  }
}


.header {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 150px;
}

.header img {
    width: 60px;
    height: auto;
}

.title-container {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    padding: 50px 150px;
    gap: 16px;
    justify-content: center;
    flex-wrap: nowrap;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.description {
    font-size: 18px;
    color: #e5e7eb
}

.title-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title-image img {
    max-width: 400px;
    max-height: 300px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 150px;
    flex-wrap: wrap;
}

.info-item {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    gap: 8px;
}

.info-item img {
    width: 150px;
    height: 150px;
}

.image-subtext {
    color: #1f2937;
}

.info-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-top: 75px;
}

.quote-container {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 150px;
    gap: 32px;
}

.quote-item {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-author {
    font-weight: 900;
    align-self: flex-end;
}

.call-to-action {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    margin: 75px 150px;
    padding: 30px 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.action-header {
    font-size: 24px;
}

.call-to-action .sign-up {
  border-style: solid; /* A border style must be defined for the border to be visible */
  border-width: 1px;
  border-color: #f9faf8;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
